.buttonContainer {
    height: calc(85px * var(--scale-factor));
    width: calc(82px * var(--scale-factor));
    box-shadow: var(--main-box-shadow);
    border: none;
    border-radius: calc(11px * var(--scale-factor));
    background-color: var(--main-color);
    padding: 0;
    font-size: calc(50px * var(--scale-factor));
}

.buttonContainer:active {
    box-shadow: inset calc(-4px * var(--scale-factor)) calc(-4px * var(--scale-factor)) calc(15px * var(--scale-factor)) var(--illuminatedSideColor), inset calc(4px * var(--scale-factor)) calc(4px * var(--scale-factor)) calc(15px * var(--scale-factor)) var(--darkenedSideColor) !important;
}

.buttonContainer:hover {
    box-shadow: calc(4px * var(--scale-factor)) calc(4px * var(--scale-factor)) calc(15px * var(--scale-factor)) var(--darkenedSideColor), calc(-4px * var(--scale-factor)) calc(-4px * var(--scale-factor)) calc(15px * var(--scale-factor)) var(--illuminatedSideColor);
    cursor: pointer;
}