.checkboxContainer {
    height: calc(20px * var(--scale-factor));
    width: calc(50px * var(--scale-factor));
    box-shadow: inset calc(-4px * var(--scale-factor)) calc(-4px * var(--scale-factor)) calc(15px * var(--scale-factor)) var(--illuminatedSideColor), inset calc(4px * var(--scale-factor)) calc(4px * var(--scale-factor)) calc(15px * var(--scale-factor)) var(--darkenedSideColor);
    border: none;
    border-radius: calc(11px * var(--scale-factor));
    background-color: var(--main-color);
    padding: 0;
    font-size: calc(50px * var(--scale-factor));
    display: flex;
    align-items: center;
}

.switch {
    width: 50%;
    height: 80%;
    margin: 5%;
    cursor: pointer;
    transition-duration: 500ms;
    border-radius: calc(11px * var(--scale-factor));
    background-color: var(--main-color);
    box-shadow: var(--main-box-shadow);
}

.checkbox {
    display: none;
}

.checkbox:checked + .switch {
    width: 50%;
    height: 80%;
    margin-left: 50%;
    transition-duration: 500ms;
    cursor: pointer;
    border-radius: calc(11px * var(--scale-factor));
    background-color: var(--main-color);
    box-shadow: var(--main-box-shadow);
}

.switch:active {
    box-shadow: inset calc(-4px * var(--scale-factor)) calc(-4px * var(--scale-factor)) calc(15px * var(--scale-factor)) var(--illuminatedSideColor), inset calc(4px * var(--scale-factor)) calc(4px * var(--scale-factor)) calc(15px * var(--scale-factor)) var(--darkenedSideColor) !important;
}

.switch:hover {
    box-shadow: calc(4px * var(--scale-factor)) calc(4px * var(--scale-factor)) calc(15px * var(--scale-factor)) var(--darkenedSideColor), calc(-4px * var(--scale-factor)) calc(-4px * var(--scale-factor)) calc(15px * var(--scale-factor)) var(--illuminatedSideColor);
    cursor: pointer;
}