.displayWindowContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}


.displayContainer {
    height: calc(157px * var(--scale-factor));
    width: calc(435px * var(--scale-factor));
    border-radius: calc(40px * var(--scale-factor));
    padding: calc(15px * var(--scale-factor)) calc(25px * var(--scale-factor));
    box-shadow: inset calc(-4px * var(--scale-factor)) calc(-4px * var(--scale-factor)) calc(15px * var(--scale-factor)) var(--illuminatedSideColor), inset calc(4px * var(--scale-factor)) calc(4px * var(--scale-factor)) calc(15px * var(--scale-factor)) var(--darkenedSideColor);
    text-align: right;
    word-break: break-word;
    overflow: auto;
    font-size: calc(50px * var(--scale-factor));
}

.displayContainer::-webkit-scrollbar {
    width: calc(5px * var(--scale-factor));
    box-shadow: calc(4px * var(--scale-factor)) calc(4px * var(--scale-factor)) calc(15px * var(--scale-factor)) var(--darkenedSideColor), calc(-4px * var(--scale-factor)) calc(-4px * var(--scale-factor)) calc(15px * var(--scale-factor)) var(--illuminatedSideColor);
}

.displayContainer::-webkit-scrollbar-thumb {
    background-color: var(--illuminatedSideColor);
    border-radius: calc(4px * var(--scale-factor));
}

.displayContainer::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
}
