:root {
    --scale-factor-y: min(100vh, 960px) / 960px;
    --scale-factor-x: min(100vw, 510px) / 510px;
    --scale-factor: min(var(--scale-factor-x), var(--scale-factor-y));
    --main-color: rgb(44, 45, 50);
    --darkenedSideColor: rgb(29, 30, 33);
    --illuminatedSideColor: rgb(56, 59, 64);
    --main-box-shadow: calc(8px * var(--scale-factor)) calc(8px * var(--scale-factor)) calc(15px * var(--scale-factor)) var(--darkenedSideColor), calc(-8px * var(--scale-factor)) calc(-8px * var(--scale-factor)) calc(15px * var(--scale-factor)) var(--illuminatedSideColor);
    --main-text-color: rgb(248, 254, 250);
    --main-text-shadow: calc(0px * var(--scale-factor)) calc(0px * var(--scale-factor)) calc(15px * var(--scale-factor)) rgb(31, 184, 40);
}

[data-theme="light"] {
    --main-color: rgb(202, 210, 223);
    --darkenedSideColor: rgb(29, 30, 33);
    --illuminatedSideColor: rgb(56, 59, 64);
    --main-box-shadow: calc(8px * var(--scale-factor)) calc(8px * var(--scale-factor)) calc(15px * var(--scale-factor)) var(--darkenedSideColor), calc(-8px * var(--scale-factor)) calc(-8px * var(--scale-factor)) calc(15px * var(--scale-factor)) var(--illuminatedSideColor);
    --main-text-color: rgb(248, 254, 250);
    --main-text-shadow: calc(0px * var(--scale-factor)) calc(0px * var(--scale-factor)) calc(15px * var(--scale-factor)) rgb(31, 184, 40);
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: var(--main-text-color);
    text-shadow: var(--main-text-shadow);
    background-color: var(--main-color);
    font-family: Calibri, sans-serif;
}




